#
# Configuration
#

sudo: required
dist: trusty

notifications:
  email: tru

cache:
  yarn: true
  directories:
    - node_modules

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
      - google-chrome
    packages:
      - google-chrome-stable
      - lib32stdc++6
      - lib32z1

# branches:
#   only:
#     - master

#
# Build Lifecycle:
#

before_install:
  - nvm install node
  - nvm use node
  - npm install -g cordova ionic

install: npm install

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

script:
  - npm run test-ci  # unit tests
  - npm run e2e      # run e2e tests against ionic

after_success:
  # Send coverage info off to cloud ppl
  - ./node_modules/.bin/codecov
