<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Calculadora DeVry
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-fab right bottom>
    <button ion-fab (click)="create()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ion-grid class="empty" *ngIf="!disciplinas || !disciplinas.length">
    <ion-row center>
      <ion-col>
        <ion-icon name="ios-list-box-outline"></ion-icon>
        <h1>Sem disciplinas cadastradas</h1>
        <p>Para adicionar uma disciplina, aperte em <ion-icon name="add-circle"></ion-icon></p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngFor="let disciplina of disciplinas" (click)="edit(disciplina)">

    <ion-card-header>
      <h1 text-center>{{ disciplina.titulo }}</h1>
      <div *ngIf="disciplina.notas.situacao">
        <ion-badge color="danger" *ngIf="disciplina.notas.situacao === 'reprovado'">Reprovado</ion-badge>
        <ion-badge color="secondary" *ngIf="disciplina.notas.situacao === 'aprovado'">Aprovado</ion-badge>
      </div>
    </ion-card-header>

    <ion-card-content text-center>
      <div *ngIf="disciplina.notas.mediaFinal !== null">
        <div ion-text class="nota" color="secondary" *ngIf="disciplina.notas.mediaFinal >= 5">{{ disciplina.notas.mediaFinal | number: '1.0-1' }}</div>
        <div ion-text class="nota" color="danger" *ngIf="disciplina.notas.mediaFinal < 5">{{ disciplina.notas.mediaFinal | number: '1.0-1' }}</div>
        <h2 class="titulo">Média final</h2>
      </div>

      <app-previsao-nota titulo="Necessário tirar na AP1" [nota]="disciplina.notas.notaParaAP1"></app-previsao-nota>
      <app-previsao-nota titulo="Necessário tirar na AP2" [nota]="disciplina.notas.notaParaAP2"></app-previsao-nota>
      <app-previsao-nota titulo="Necessário tirar na AP3" [nota]="disciplina.notas.notaParaAP3"></app-previsao-nota>
    </ion-card-content>

    <ion-card-content *ngIf="disciplina.notas.notaParaAP3 > 10" text-center>
      Não foi dessa vez, sorte na próxima....
    </ion-card-content>

    <ion-row *ngIf="disciplina.notas.ap1 !== null || disciplina.notas.ap2 !== null || disciplina.notas.ap3 !== null">
      <ion-col center text-center>
        <app-nota item-left ion-text titulo="AP1" [nota]="disciplina.notas.ap1"></app-nota>
      </ion-col>
      <ion-col center text-center>
        <app-nota item-left ion-text titulo="AP2" [nota]="disciplina.notas.ap2"></app-nota>
      </ion-col>
      <ion-col center text-center>
        <app-nota item-left ion-text titulo="AP3" [nota]="disciplina.notas.ap3"></app-nota>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
